body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 248, 248);
}
hr{
    border: 1px solid #6c63ff;
    width: 90%;
}

.dark-mode{
    background-color: rgb(37,37,37);
    color:white;
}
#taskdiv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
h1{
    display: inherit;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 0px;
}
#search-bar{
    display: inline;
    position: relative;
}
#search{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-color: #6c63ff;

}
#search:hover{
    border-color: blue;
}
#search:focus{
    border-color: blueviolet;
}
#search-icon{
    max-height: 20px;
    max-width: 20px;
    position:absolute;
    top: 1px;
    right: 10px;
}
button{
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
    background-color: #6c63ff;
    border: none;
}
#task{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#6c63ff;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
#task:hover{
    background-color: rgb(61, 61, 231);
}
.elements{
    background-color: rgb(250, 248, 248);
    color: rgb(37,37,37);
    cursor: pointer;
}
.elements:hover{
    background-color: rgba(26, 1, 249, 0.2);
}
#toggle{
    background-color: #6c63ff;
    border-radius: 10px;
    border: none;
    height: 35px;
    transform: translateY(13px);
    cursor: pointer;
}
#toggle:hover{
    background-color: rgb(44, 44, 210);
}
#notes{
    display: inherit;
    justify-content: center;
}
.note{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}
#list{
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    max-width: 50%;
    overflow-y: auto;
}
#list:last-child{
    display: 'none';
}
#inputstorage{
    display: flex;
}
#pen{
    height: 20px;
}
.check{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
}
#add-icon{
    display: flex;
    position: absolute;
    top:70%;
    left: 65%;
    background-color: #6c63ff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: aliceblue;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
#add-icon:hover{
    background-color: rgb(85, 85, 239);
}
.show{
    display: block;
}
.checked{
    text-decoration: line-through;
    color: darkgray;
}
.check{
    cursor: pointer;
}
#add-note{
    display: none;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 248, 248);
    border: 1px white;
}
#addnote{
    border: 1px solid #6c63ff;
    margin: 5px;
    resize: none;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(250, 248, 248);
}
#buttons{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#buttons button{
    cursor: pointer;
}
#buttons button:hover{
    background-color: rgb(69, 69, 218);
}
.darken{
    z-index: 1;
    background-color: rgb(26, 26, 27);
}
.rem{
    display: none;
}

#empty{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    background-color: rgb(250, 248, 248);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#empty img{
    max-width: 70%;
    max-height: 70%;
}
.cancel{
    background-color: rgb(250, 248, 248);
    color: #6c63ff;
    border: 2px solid #6c63ff;
}
.black{
    background-color: rgb(37,37,37);
    color: #6c63ff;
    border: 2px solid #6c63ff;
}
#imgstorage{
    display: flex;
    gap: 10px;
}